dist:     trusty
language: cpp

matrix:
  include:
    - os: linux
      compiler: gcc
    - os: osx
      compiler: clang

script:
    - mkdir build
    - cd build
    - cmake .. -DCMAKE_BUILD_TYPE=Release 
    - cmake --build .
